<br>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let show of shows">
    <a href="{{show['url']}}" style="text-decoration:none; color:white;" target="_blank">
        <img src="{{show['img']}}" style="display: block;">
        <mat-grid-tile-footer style="color:white; z-index:100;"> {{show['show']}} </mat-grid-tile-footer>
    </a>
  </mat-grid-tile>
</mat-grid-list>


 <!--     <a href="{{item.value[0]}}" style="text-decoration:none; color:white;" target="_blank"><b>{{item.value[1]}}</b></a>-->
