@font-face {
    font-family: trial;
    src: url(assets/font/trial.ttf) format("opentype");
  }

  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'trial', 'arial', sans-serif;
    
  }
html, body { height: 100%; 
  background: url("/assets/img/sun2.png") no-repeat center fixed;     
  background-size: cover;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }

.content {
  padding-top: 40px;
  position: absolute;
  width:100%;
  height: 100%;
  z-index:0;
  box-sizing: border-box;
}

.header {
  height: 40px;
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  z-index:2;
}

app-user-input {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.error {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  min-height: 200px;
  transform: translate(-50%, -50%)
}

.try-again {
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  margin-right: -50%;
  min-height: 200px;
  transform: translate(-50%, -50%)
}


mat-card {
  background-color: grey!important;
}

a {
  cursor: pointer;
}


.example-form {
  color: white;
  min-width: 450px;
  max-width: 500px;
  width: 400px;
}

.example-form-field {
  width: 260px;
}

.example-full-width {
  width: 100%;
}

mat-toolbar {
  justify-content: space-between;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.suggestion {
  margin: 0;
  top: 0%;
  min-height: 200px;
}

mat-grid-tile {
  background: lightblue;
}

.bottom-centered {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}