<mat-toolbar class="header">
    <button mat-button color="black" style="font-weight:bold" (click)="resetApp()">
        <h1 style="color:black;">NTS Recommendations</h1>
    </button>
    <span class="menu-spacer"></span>
    <button mat-button color="black" style="font-weight:bold" (click)="getSuggestions()">
        Need some inspiration?
    </button>
</mat-toolbar>