<body>
    <app-header (displaySuggestions)="displaySuggestions($event)" (reset)="reset($event)">App header</app-header>
    <div class="content">

        <app-user-input *ngIf="userInput" (uploaded)="serverResponse($event)">
        </app-user-input>
        <mat-card *ngIf="suggestion" class="suggestion">
            <app-suggestion></app-suggestion>
        </mat-card>
        <mat-card *ngIf="!badResponse && !userInput && !suggestion">
            <br>
            <app-recommendations [recommendations]="serverData"></app-recommendations>
        </mat-card>

        <div *ngIf="badResponse && !userInput && !suggestion" class="error">
            <app-error ></app-error>
        </div>

        <div *ngIf="!userInput && !suggestion" class="try-again">
            <button mat-raised-button color="accent" (click)="reset(true)">
                Try again with a different show
            </button>
        </div>

    </div>
<body>