<div class="box">

    <mat-form-field class="example-form-field">
        <mat-label>Enter the link of a show you have enjoyed</mat-label>
        <input matInput type="text" #url>
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <button mat-raised-button color="accent" (click)="getRecommendations(url.value)">
        Get recommendations
    </button>
</div>