<mat-carousel
  timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="false" proportion="30"
  slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
  orientation="ltr" maintainAspectRatio="true">
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let item of recommendations | keyvalue"
    [image]="item.value[2]"
    overlayColor="#00000040"
    [hideOverlay]="false"
  >

    <div class="carousel-caption">
      <h3 class="h3" style="color: white; padding-left: 10px;">
      <a href="{{item.value[0]}}" style="text-decoration:none; color:white;" target="_blank"><b>{{item.value[1]}}</b></a>
      </h3>
    </div>

  </mat-carousel-slide>
</mat-carousel>